@import "vender/normalize.css";

//Fonts - these do all 250kb... so remember to remove unused styles
@font-face{
    font-family: "opendyslexic";
    src: url('../fonts/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "opendyslexic";
    src: url('../fonts/OpenDyslexic-Italic.otf');
    font-style: italic;
    font-weight: normal;
}
@font-face{
    font-family: "opendyslexic";
    src: url('../fonts/OpenDyslexic-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: "opendyslexic";
    src: url('../fonts/OpenDyslexic-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}


//Mixins
.visuallyHidden {
    text-indent: -9999px;
}


//TODO: CHANGE THIS TO em's


//Standard style
@cellSize: 40px;
@cellFontSize: @cellSize * 0.7;
@squareSize: ((@cellSize + 2) * 3); // 2 for borders, 3 for cell count
@boardSize: ((@squareSize + 2)* 3); // 2 for borders, 3 for square count

@primaryBorderColour: #333;
@secondaryBorderColour: #EEE;

body {
	height: 100%;
	background-color: #580301;
	background: rgb(241,114,0);
    background: -moz-linear-gradient(top,  rgba(241,114,0,1) 0%, rgba(88,3,1,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,114,0,1)), color-stop(100%,rgba(88,3,1,1)));
    background: -webkit-linear-gradient(top,  rgba(241,114,0,1) 0%,rgba(88,3,1,1) 100%);
    background: -o-linear-gradient(top,  rgba(241,114,0,1) 0%,rgba(88,3,1,1) 100%);
    background: -ms-linear-gradient(top,  rgba(241,114,0,1) 0%,rgba(88,3,1,1) 100%);
    background: linear-gradient(to bottom,  rgba(241,114,0,1) 0%,rgba(88,3,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17200', endColorstr='#580301',GradientType=0 );
	background-repeat: no-repeat;
	background-attachment: fixed;
    color: #fcfcfc;
    font-family: "bello-caps";
}

::selection,
::-moz-selection {
	color: #fff;
	background-color: #580301;
}

.gameGrid {
    position: relative;
    width: @boardSize;
    border: 1px solid @primaryBorderColour;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden; //to clear
    box-shadow: 0px 0px 20px #fff;

    .square {
        border: 1px solid @primaryBorderColour;
        float: left;
        width: @squareSize;
    }
    
    .even {
	    background-color: #e66800;
    }
    
    .odd {
	    background-color: #640f01;
    }

    .cell {
        border: 1px solid @secondaryBorderColour;
        float: left;
        width: @cellSize;
        height: @cellSize;
        line-height: @cellSize;
        font-size: @cellFontSize;
        text-align: center;
    }

    .cell.highlighted {
      background-color: #F60;
      color: #FFF;
    }

}

#ledge {
    display: block;
    background-color: rgba(0,0,0,0.3);
    vertical-align: middle;
    padding: 10px;

    nav {
        display: inline-block;
        vertical-align: middle;
        margin-right: 70px;

        ul {
            margin: 0;
            list-style: none;
            display: inline-block;
            padding: 3px;

            li {
                display: inline-block;
                cursor: pointer;
            }
        }
    }

    .icon {
        width: 24px;
        height: 24px;
    }
    
    .selected {
        border-color: red;
        border-width: 1px;
        border-style: solid;
    }

    #themeSwitch {
        .theme-default {
            background: transparent url('../img/icon-theme-default@1x.png') center center no-repeat;
        }
        .theme-white {
            background: transparent url('../img/icon-theme-white@1x.png') center center no-repeat;
        }
        .theme-black {
            background: transparent url('../img/icon-theme-black@1x.png') center center no-repeat;
        }
    }

    #sizeSwitch {
        .size-normal {
            background: transparent url('../img/icon-size-normal@1x.png') center center no-repeat;
        }

        .size-bigger {
            background: transparent url('../img/icon-size-bigger@1x.png') center center no-repeat;
        }

        .size-biggest {
            background: transparent url('../img/icon-size-biggest@1x.png') center center no-repeat;
        }
    }

    #fontSwitch {
        .font-normal {
            background: transparent url('../img/icon-font-normal@1x.png') center center no-repeat;
        }

        .font-dy {
            background: transparent url('../img/icon-font-dy@1x.png') center center no-repeat;
        }
    }
}

.backdrop {
    position: absolute;
    z-index: -100;
    bottom: 0;
    width: 100%;
    height: 412px;
    background: transparent url('../img/shadow-backdrop@1x.png');
}

#messageOutput {
    .visuallyHidden;
}


//Alternate Themes
//Consistant structure should only be declared in the standard theme
html.dark-on-light {
    body {
        background: #2b2f33;
        color: #fcfcfc;
    }
}

html.light-on-dark {
    body {
        background: #fcfcfc;
        color: #2b2f33;
    }
}

html.dyslexic {
    body {
        font-family: opendyslexic;
    }
}

@media screen and (min-width: 661px) {
    html.bigger {
        @cellSize: 55px;
        @cellFontSize: @cellSize * 0.7;
        @squareSize: ((@cellSize + 2) * 3); // 2 for borders, 3 for cell count
        @boardSize: ((@squareSize + 2)* 3); // 2 for borders, 3 for square count

        .gameGrid {
            width: @boardSize;

            .square {
                width: @squareSize;
            }

            .cell {
                width: @cellSize;
                height: @cellSize;
                line-height: @cellSize;
                font-size: @cellFontSize;
            }
        }
    }

    html.biggest {
        @cellSize: 70px;
        @cellFontSize: @cellSize * 0.7;
        @squareSize: ((@cellSize + 2) * 3); // 2 for borders, 3 for cell count
        @boardSize: ((@squareSize + 2)* 3); // 2 for borders, 3 for square count

        .gameGrid {
            width: @boardSize;

            .square {
                width: @squareSize;
            }

            .cell {
                width: @cellSize;
                height: @cellSize;
                line-height: @cellSize;
                font-size: @cellFontSize;
            }
        }
    }
}

.mobileTheme {
    width: 100%;
    padding-top: 1%;
    border: none;
    background: @primaryBorderColour;

    .square {
        width: 32%;
        margin: 0 0 1% 1%;
        border: none;
        background: @secondaryBorderColour;
    }

    .cell {
        width: 32.3%;
        margin: 0.5%;
        border: none;
        background: green;
    }
}


//Media queries
@media screen and (max-width: 660px) {
    #sizeSwitch {
        display: none;
    }

    #ledge {
        display: none;
    }

    .gameGrid {
        .mobileTheme;
    }


}

// Screens
.screen {
    display: none;
}

#menuScreen {
    display: block;
}




// - - -
// Arron's crap
// - - -



#logoWrapper {
	padding: 40px;
}

#logoWrapper #logo {
	margin: 0 auto;
	background: transparent url('../img/logo@1x.png') center center no-repeat;
	width: 650px;
	height: 231px;
}

#menuScreen #wrapper {
	margin-top: 50px;
}

#menuScreen #wrapper #inner {
	margin: 0 auto;
	width: 600px;
}

.mainMenu {
	ul {
        list-style: none;

        li {
            width: 500px;

            border: 1px solid #FFF;

            margin-bottom: 20px;
            text-align: center;
            padding: 15px;
            cursor: pointer;

            font-size: 32px;
            font-weight: bold;
            text-shadow: 1px 1px 0px #000;

            &.selected {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}