@import "vender/normalize.css";


//Mixins
.visuallyHidden {
    text-indent: -9999px;
}


//Standard style
@cellSize: 40px;
@cellFontSize: @cellSize * 0.7;
@squareSize: ((@cellSize + 2) * 3); // 2 for borders, 3 for cell count
@boardSize: ((@squareSize + 2)* 3); // 2 for borders, 3 for square count

@primaryBorderColour: #333;
@secondaryBorderColour: #EEE;


body {
    background: green;
    color: #fcfcfc;
}

.gameGrid {
    position: relative;
    width: @boardSize;
    border: 1px solid @primaryBorderColour;
    margin: 0 auto;
    overflow: hidden; //to clear

    .square {
        border: 1px solid @primaryBorderColour;
        float: left;
        width: @squareSize;
    }

    .cell {
        border: 1px solid @secondaryBorderColour;
        float: left;
        width: @cellSize;
        height: @cellSize;
        line-height: @cellSize;
        font-size: @cellFontSize;
        text-align: center;
    }

    .cell.highlighted {
      background-color: #F60;
      color: #FFF;
    }

}

#messageOutput {
    .visuallyHidden;
}


//Alternate Themes
//Consistant structure should only be declared in the standard theme
html.dark-on-light {
    body {
        background: #2b2f33;
        color: #fcfcfc;
    }
}

html.light-on-dark {
    body {
        background: #fcfcfc;
        color: #2b2f33;
    }
}

html.bigger {
    @cellSize: 55px;
    @cellFontSize: @cellSize * 0.7;
    @squareSize: ((@cellSize + 2) * 3); // 2 for borders, 3 for cell count
    @boardSize: ((@squareSize + 2)* 3); // 2 for borders, 3 for square count

    .gameGrid {
        width: @boardSize;

        .square {
            width: @squareSize;
        }

        .cell {
            width: @cellSize;
            height: @cellSize;
            line-height: @cellSize;
            font-size: @cellFontSize;
        }
    }
}

html.biggest {
    @cellSize: 70px;
    @cellFontSize: @cellSize * 0.7;
    @squareSize: ((@cellSize + 2) * 3); // 2 for borders, 3 for cell count
    @boardSize: ((@squareSize + 2)* 3); // 2 for borders, 3 for square count

    .gameGrid {
        width: @boardSize;

        .square {
            width: @squareSize;
        }

        .cell {
            width: @cellSize;
            height: @cellSize;
            line-height: @cellSize;
            font-size: @cellFontSize;
        }
    }
}