//Fonts - these do all 250kb... so remember to remove unused styles
@font-face{
    font-family: "opendyslexic";
    src: url('../fonts/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "opendyslexic";
    src: url('../fonts/OpenDyslexic-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

//Mixins
.visuallyHidden {
    text-indent: -99999px;
    position: absolute;
}

.gradientBackground(@start, @end) {
    background: @end;
    background-image: -moz-linear-gradient(top, @start 0%, @end 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start), color-stop(100%, @end));
    background-image: -webkit-linear-gradient(top, @start 0%, @end 100%);
    background-image: -o-linear-gradient(top, @start 0%, @end 100%);
    background-image: -ms-linear-gradient(top, @start 0%, @end 100%);
    background-image: linear-gradient(to bottom, @start 0%, @end 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection,
::-moz-selection {
    color: #fff;
    background-color: #580301;
}

.animationTime(@duration) {
    -moz-animation-duration: @duration;
    -webkit-animation-duration: @duration;
    -o-animation-duration: @duration;
    animation-duration: @duration;
}


//Standard style
body {
	height: 100%;
    font-size: 100%;
    color: #fcfcfc;
    .gradientBackground(rgb(241,114,0), rgb(88,3,1));
}


// Screens
.screen {
    display: none;
    max-width: 700px;
    width: 90%;
    margin: 0 auto 4em;

    header {
        height: 2em;

        h1 {
            text-align: center;
            font-size: 1.7em;
            margin: 0;
        }

        .back {
            position: absolute;
            line-height: 2em;
            cursor: pointer;
            .noSelect;
        }
    }

    .menu {
        list-style: none;
        overflow: hidden;
        padding: 0;
        text-align: center;

        li {
            margin: 0 auto 0.8em;
            display: block;

            .menuItem {
                display: inline-block;

                width: 70%;
                margin: 0 auto;
                padding: 0.4em;
                cursor: pointer;
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.2);
                overflow: hidden; //to clear
                

                &.pulse {
                    .animationTime(0.4s);
                }
                
                .noSelect;

                .name {
                    float: left;
                    margin-left: 0.2em;
                }
                
                .value {
                    float: right;
                    margin-right: 0.2em;
                }
            }

            .leftArrow {
                display: inline-block;
                margin: 0.1em 0.5em;
                border-top: 1.4em solid transparent;
                border-bottom: 1.4em solid transparent;
                border-right: 1.9em solid #fcfcfc;
            }

            .rightArrow {
                display: inline-block;
                margin: 0.1em 0.5em;
                border-top: 1.4em solid transparent;
                border-bottom: 1.4em solid transparent;
                border-left: 1.9em solid #fcfcfc;
            }
        }
    }
}

.desktop {
    .screen {
        .menu {
            .selected {
                color: #580301;
                background-color: rgba(255, 255, 255, 0.6);

                &:before {
                    content: '';
                    float: left;
                    margin: 0.15em 0 0 0.5em;
                    width: 0; 
                    height: 0; 
                    border-top: 0.5em solid transparent;
                    border-bottom: 0.5em solid transparent;
                    border-left: 0.8em solid #580301;
                }
                &:after {
                    content: '';
                    float: right;
                    margin: 0.15em 0.5em 0 0;
                    width: 0; 
                    height: 0; 
                    border-top: 0.5em solid transparent;
                    border-bottom: 0.5em solid transparent;
                    border-right: 0.8em solid #580301;
                }
            }

            &.optionsMenu {
                .selected {
                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

#gameScreen {
    @primaryBorderColour: #333;
    @secondaryBorderColour: #EEE;
    
    section#controls {
    	width: 90%;
    	position: relative;
    	margin: 0.5em auto 0;
    }
    
    section#controls button {
        display: block;
        float: left;
        background-color: rgb(241,114,0);
        width: 33.33333333333333%;
        margin-bottom: 10px;
        height: 64px;
        border: 1px solid #fff;
    }
    
    section#controls button:hover {
	    background-color: #c84200;
	    color: white;
    }
    
    .gameGrid {

        &div, div {
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
        }

        position: relative;
        width: 90%;
        border: 1px solid @primaryBorderColour;
        margin: 0.5em auto 0;
        overflow: hidden; //to clear
        background-color: @primaryBorderColour;
        font-size: 1.5em;

        .squareWrapper {
            width: 33.33333333333333%;
            padding-bottom: 33.33333333333333%;
            position: relative;
            float: left;

            .square {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                border: 1px solid @primaryBorderColour;

                .cellWrapper {
                    width: 33.33333333333333%;
                    padding-bottom: 33.33333333333333%;
                    position: relative;
                    float: left;

                    .cell {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        border: 1px solid @secondaryBorderColour;
                        text-align: center;

                        &.editable {
                            background: green;
                        }

                        &.selected {
                            background: blue;
                            .animationTime(0.4s);
                            z-index: 1000;
                        }

                        &:before {
                            content: '';
                            display: inline-block;
                            height: 100%; 
                            vertical-align: middle;
                            margin-right: -0.25em;
                        }

                        .cellValue {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

#helpScreen {
	
	section#info {
		background: /*transparent*/ url('../img/help@1x.png') /*center center*/ no-repeat; //no need to specify W3C defaults
		width: 700px;
		height: 715px;
	}
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
		section#info {
			background: transparent url('../img/help@2x.png') center center no-repeat;
			background-size: 700px 715px;
		}
	}
	
	section#info .keyboard {
		margin: 0 auto;
		background: transparent url('../img/keyboard@1x.png') center center no-repeat;
		width: 566px;
		height: 270px;
	}
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		section#info .keyboard {
			background: transparent url('../img/keyboard@2x.png') center center no-repeat;
			background-size: 566px 270px;
		}
	} 
	
	section#info .whitespace {
		padding: 70px 50px 50px 50px;
		color: #000;
	}
	
}

#menuScreen {
    display: block;
}

.ledge {
    background-color: #580301;
    height: 10px;
}

.logo {
    width: 650px;
    height: 231px;
    margin: 30px auto;
    background: url('../img/logo_light@2x.png') no-repeat;
    background-size: 650px 231px;
}

.backdrop {
    position: absolute;
    z-index: -100;
    bottom: 0;
    width: 100%;
    height: 412px;
    background: transparent url('../img/shadow-backdrop@1x.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
   	.backdrop {
		background: transparent url('../img/shadow-backdrop@2x.png');
		background-size: 1854px 412px;
	}
}

.mobile {
    .backdrop {
        height: 352px;
        background-position: -205px 0;
    }
}

#messageOutput {
    .visuallyHidden;
}


//Alternate Themes
//Consistant structure should only be declared in the standard theme
html.light {
    body {
        background: #fcfcfc;
        color: #2b2f33;
    }

    ::selection,
    ::-moz-selection {
        color: #fcfcfc;
        background-color: #2b2f33;
    }

    .ledge {
        background: #2b2f33;
    }

    .logo {
        background: url('../img/logo_dark@2x.png') no-repeat;
        background-size: 650px 231px; //background resets this
    }

    &.desktop {
        .screen {
            .menu {
                li {
                    .menuItem {
                        background-color: rgba(43, 47, 51, 0.5);
                        &.selected {
                            color: #2b2f33;
                            background-color: rgba(43, 47, 51, 0.3);

                            &:before {
                                border-left-color: #2b2f33;
                            }
                            &:after {
                                border-right-color: #2b2f33;
                            }
                        }
                    }
                    .leftArrow {
                        border-right-color: #2b2f33;
                    }

                    .rightArrow {
                        border-left-color: #2b2f33;
                    }
                }
            }
        }
    }
}

html.dark {
    body {
        background: #2b2f33;
        color: #fcfcfc;
    }

    ::selection,
    ::-moz-selection {
        color: #2b2f33;
        background-color: #fcfcfc;
    }

    .ledge {
        background: #fcfcfc;
    }

    &.desktop {
        .screen {
            .menu {
                li {
                    .menuItem {
                        &.selected {
                            color: #2b2f33;
                            background-color: rgba(255, 255, 255, 0.6);

                            &:before {
                                border-left-color: #2b2f33;
                            }
                            &:after {
                                border-right-color: #2b2f33;
                            }
                        }
                    }
                }
            }
        }
    }
}

html.dyslexic {
    body {
        font-family: opendyslexic;
    }
}

html.bigger {
    body {
        font-size: 115%;
    }
}

html.biggest {
    body {
        font-size: 130%;
    }
}


//Media queries
@media screen and (max-width: 710px) {
    .logoWrapper{
        margin: 20px;
        img {
            width: 90%;
            height: auto;
        }
    }

    #gameScreen {
        .gameGrid {
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 500px) {
    .screen {
        .menu {
            li {
                .menuItem {
                    font-size: 1.125em;
                }

                .leftArrow {
                    margin: 0.07500000000000001em 0.375em;
                    border-top: 1.0499999999999998em solid transparent;
                    border-bottom: 1.0499999999999998em solid transparent;
                    border-right: 1.4249999999999998em solid #fcfcfc;
                }

                .rightArrow {
                    margin: 0.07500000000000001em 0.375em;
                    border-top: 1.0499999999999998em solid transparent;
                    border-bottom: 1.0499999999999998em solid transparent;
                    border-left: 1.4249999999999998em solid #fcfcfc;
                }
            }
        }
    }

    #gameScreen {
        .gameGrid {
            font-size: 0.9em;
        }
    }
}